p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0;
  margin-bottom: 5px;
}


.video-title{
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}
.vid{
  font-family: Arial;
  font-size: 14px;
  color: gray;
  margin-top: 0px;
}
.info{
  color:gray;
  font-family: Arial;
  font size:14px;

}
.di{
  font-family: arial;
  font-size: 14px;
  color: grey;
  margin-top:0;
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;

}
.txt{
  margin-bottom:50px;
  font-size: 14px;
  background-color: crimson;
  color:white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.shop{
  cursor: pointer;

}
.shop:hover{
  text-decoration: underline;
}




